[Unit]
Description=dokuwiki Container
After=docker.service
Requires=docker.service

[Service]
User={{allusers.dokuwiki.name}}
TimeoutStartSec=1min
TimeoutStopSec=90s
Restart=always
RestartSec=10
StartLimitInterval=0
ExecStartPre=-/usr/bin/docker stop dokuwiki
ExecStop=/usr/bin/docker stop dokuwiki
ExecStopPost=/usr/bin/docker rm --force --volumes dokuwiki
ExecStart=/usr/bin/docker run --rm -v /home/{{allusers.dokuwiki.name}}/data/site:/bitnami --name dokuwiki -p {{ports.dokuwiki.portnum}}:80 bitnami/dokuwiki:latest

[Install]
WantedBy=multi-user.target

