[Unit]
Description=wordpress Container
After=docker.service
Requires=docker.service

[Service]
User={{allusers.wordpressdb.name}}
TimeoutStartSec=1min
TimeoutStopSec=90s
Restart=always
RestartSec=10
StartLimitInterval=0
ExecStartPre=-/usr/bin/docker stop wordpress wordpressdb
ExecStop=/usr/bin/docker stop wordpres wordpressdb
ExecStopPost=/usr/bin/docker rm --force --volumes wordpressdb wordpress
ExecStart=/usr/bin/docker run --rm --name wordpress -e WORDPRESS_DB_PASSWORD=Start1234START1234T --link wordpressdb:mysql -p 8080:80 wordpress

[Install]
WantedBy=multi-user.target
