[Unit]
Description=pritunl 
After=docker.service
Requires=docker.service

[Service]
User={{allusers.pritunl.name}}
TimeoutStartSec=1min
TimeoutStopSec=90s
Restart=always
RestartSec=10
StartLimitInterval=0
ExecStartPre=-/usr/bin/docker pritunl
ExecStop=/usr/bin/docker stop nextcloud
ExecStopPost=/usr/bin/docker rm --force --volumes nextcloud
ExecStart=/usr/bin/docker run --rm -v /home/{{allusers.pritunl.name}}/mongodb:/var/lib/mongodb -v /home/{{allusers.pritunl.name}}/pritunl:/var/lib/pritunl -v /home/{{allusers.pritunl.name}}/pritunl/pritunl.conf:/var/lib/pritunl/pritunl.conf --name=pritunl -p {{ports.pritunl.portnum}}:443 -p {{ports.pritunl.service}}:1194 johnae/pritunl


[Install]
WantedBy=multi-user.target
