[Unit]
Description=mariadb Container
After=docker.service
Requires=docker.service

[Service]
User={{allusers.mariadb.name}}
TimeoutStartSec=1min
TimeoutStopSec=90s
Restart=always
RestartSec=10
StartLimitInterval=0
ExecStartPre=-/usr/bin/docker stop mariadb
ExecStop=/usr/bin/docker stop mariadb
ExecStopPost=/usr/bin/docker rm --force --volumes mariadb
ExecStart=/usr/bin/docker run --rm -v /home/{{allusers.mariadb.name}}/data/:/var/lib/mysql --name mariadb -e MYSQL_ROOT_PASSWORD="Start1234START1234T" mariadb

[Install]
WantedBy=multi-user.target
